<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Registrationname</th>
      <th>Registrationnumber</th>
      <th>Website</th>
      <th>Contact</th>
      <th>Online</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.address %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= business.postcode %></td>
        <td><%= business.country %></td>
        <td><%= business.registrationname %></td>
        <td><%= business.registrationnumber %></td>
        <td><%= business.website %></td>
        <td><%= business.contact %></td>
        <td><%= business.online %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
