<p id="notice"><%= notice %></p>

<p>
  <strong>Onea:</strong>
  <%= @combination.onea %>
</p>

<p>
  <strong>Oneb:</strong>
  <%= @combination.oneb %>
</p>

<p>
  <strong>Twoa:</strong>
  <%= @combination.twoa %>
</p>

<p>
  <strong>Twob:</strong>
  <%= @combination.twob %>
</p>

<p>
  <strong>Threea:</strong>
  <%= @combination.threea %>
</p>

<p>
  <strong>Threeb:</strong>
  <%= @combination.threeb %>
</p>

<p>
  <strong>Foura:</strong>
  <%= @combination.foura %>
</p>

<p>
  <strong>Fourb:</strong>
  <%= @combination.fourb %>
</p>

<p>
  <strong>Fivea:</strong>
  <%= @combination.fivea %>
</p>

<p>
  <strong>Fiveb:</strong>
  <%= @combination.fiveb %>
</p>

<p>
  <strong>Sixa:</strong>
  <%= @combination.sixa %>
</p>

<p>
  <strong>Sixb:</strong>
  <%= @combination.sixb %>
</p>

<p>
  <strong>Sevena:</strong>
  <%= @combination.sevena %>
</p>

<p>
  <strong>Sevenb:</strong>
  <%= @combination.sevenb %>
</p>

<p>
  <strong>Eighta:</strong>
  <%= @combination.eighta %>
</p>

<p>
  <strong>Eightb:</strong>
  <%= @combination.eightb %>
</p>

<p>
  <strong>Ninea:</strong>
  <%= @combination.ninea %>
</p>

<p>
  <strong>Nineb:</strong>
  <%= @combination.nineb %>
</p>

<p>
  <strong>Tena:</strong>
  <%= @combination.tena %>
</p>

<p>
  <strong>Tenb:</strong>
  <%= @combination.tenb %>
</p>

<p>
  <strong>Result:</strong>
  <%= @combination.result %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @combination.complete %>
</p>

<%= link_to 'Edit', edit_combination_path(@combination) %> |
<%= link_to 'Back', combinations_path %>
