<h1>Listing eggs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr>
        <td><%= egg.name %></td>
        <td><%= egg.nest_id %></td>
        <td><%= link_to 'Show', egg %></td>
        <td><%= link_to 'Edit', edit_egg_path(egg) %></td>
        <td><%= link_to 'Destroy', egg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Egg', new_egg_path %>
