<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @widget.product %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @widget.invoice %>
</p>

<p>
  <strong>Item:</strong>
  <%= @widget.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @widget.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @widget.quantity %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @widget.tax %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @widget.discount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @widget.total %>
</p>

<p>
  <strong>Product:</strong>
  <%= @widget.product %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
