<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>


<div class="border-form-div">
  <h2>Sign in</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.password_field :password %>
      <% if devise_mapping.rememberable? -%>
          <label class="checkbox"> <%= f.label :remember_me %> Rembmer me </label>
      <% end -%>
      <%= f.submit "Sign in" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

<%= stylesheet_link_tag "bootstrap/bootstrap.css" %>
<%= stylesheet_link_tag "ecommerce/bootstrap.css" %>
<%= stylesheet_link_tag "ecommerce/slick.css" %>
<%= stylesheet_link_tag "ecommerce/font-awesome.css" %>
<%= stylesheet_link_tag "ecommerce/style.css" %>
<%= stylesheet_link_tag "ecommerce/_mixins.css" %>
<%= stylesheet_link_tag "ecommerce/_variables.css" %>
<%= stylesheet_link_tag "ecommerce/theme-color/default-theme.css" %>