<h1>Congratulations <%= @consumer.name %>!</h1>
<p>
  You have won <%= @merchandise.title %>!
  Your merchandise is: localhost:9000/#/merchandises/<%= @merchandise.id %>.<br>

</p>

<%= link_to 'Merchandise', url_for(@merchandise) %>
<a href="http://localhost:9000/#!/merchandises/<%= @merchandise.id %>">Merchandise link!</a>
<p>Thanks for joining and have a great day!</p>