
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :start_time_cont , "Date" %>
      <%= f.text_field :start_time_cont  %>
    </div>
    <div class="actions"><%= f.submit "Date" %></div>
    <% end %>

Results
<% @appointments.limit(10).each do |appointment| %>
    <%= (appointment.doctor.name)%>
   # <%= (appointment.patient.name)%>
   # <%=  appointment.start_time %>
   # <%=  appointment.end_time %><br/>
<% end %>
