
<div class="-1u 10u options">
	<div class="title">Options</div>

</div>
<%= form_tag( url_for(controller: 'appointments', :action => 'find' ), :method => 'get' ) do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :first_name => nil  %>
    </p>
 <% end %>

<% @appointments.each do |appointment| %>
    <p><%= appointment.id %> - <%= appointment.start_time %></p>
    <% end %>
<div id="calendar" class="-1u 10u">  </div>
 <div id="myDialog"></div>
  <%= search_form_for @q, html: {class: "pull-right form-search appointment_search"} do |f| %>
      <p><%= f.text_field :start_time_date_equals, placeholder: "Date" %>
        <%= f.submit "Date", class: "btn" %></p>
  <% end %>


