<%= csrf_meta_tag %>
<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
<div class="-1u 10u options">
	<div class="title">Options</div>

</div>
<%= form_tag( url_for(controller: 'appointments', :action => 'find' ), :method => 'get' ) do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :first_name => nil  %>
    </p>
 <% end %>

<% @appointments.each do |appointment| %>
    <p><%= appointment.id %> - <%= appointment.start_time %></p>
    <% end %>
<div id="calendar" class="-1u 10u">  </div>
 <div id="myDialog"></div>
  <%= search_form_for @q, html: {class: "pull-right form-search appointment_search"} do |f| %>
      <p><%= f.text_field :start_time_date_equals, placeholder: "Date" %>
        <%= f.submit "Date", class: "btn" %></p>
  <% end %>

<div id="add-event" style="display:none" title="Add New Event">


  <form action="" id ="add-event-form" name="add-event-form">
    <label for="title">Event Name</label>
    <input type="text" name="title" id="title"/>
    <p>
      <label for="Doctor">Doctor</label>
      <input type="text" name="Doctor" id="Doctor" tabindex="-1" />
    </p>
    <p>
      <label for="add-event-date">Date</label>
      <input type="text" name="event-date" id="event-date" tabindex="-1" />
    </p>
    <p>
      <label for="add-start-time">Start Time</label>
      <input type="text" name="start-time" id="start-time" />
    </p>
    <p>
      <label for="add-end-time">End Time</label>
      <input type="text" name="end-time" id="end-time" />
    </p>


    <div id="dialog-confirm" title="Confirm?">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Confirm?</p>
    </div>
    <p><input type="submit" value="Save" name="submit" id="submit"/></p>
  </form>
</div>

