<%= form_for( @appointment, url: {action: "create"}, validate: true) do |f| %>

<div class="row">
	<div class="2u label">Appointment Name</div>
	<div class="4u"><%= f.text_field :name %></div>
</div>

<div class="row">
	<div class="2u label"><%= f.label :start_time %></div>
  <div class="2u"><%= f.text_field :start_time %></div>
</div>


<div class="row">
	<div class="2u label">Patient</div>
	<div class="4u"><%= f.text_field :patient_id %></div>
</div>

<div class="row">
	<div class="2u label">Doctor</div>
	<div class="4u"><%= f.text_field :doctor_id %></div>
</div>

    <%= f.submit "Create Appointment" %>
<div class ="row">
  <% if @appointment.errors.any? %>
      <h2>Errors</h2>
      <ul>
  <% @appointment.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
      </ul>
  <% end %>
</div>

<% end %>