<head>
  <link rel="stylesheet" type="text/css" href="appointments.css.scss">
</head>
<%= form_for( @appointment, url: {action: "create"}, html: {class: "basic-grey"}, validate: true) do |f| %>

        <h1>New Appointment
        </h1>
        <label>
          <span>Appointment Name</span>
          <%= f.text_field :name %>
        </label>

        <span>Appointment Start</span>
        <input>
        <%= f.text_field :start_date, class: 'date start' %>
        <%= f.text_field :start_time, class: 'time start' %>
        </input>

        <span>Appointment End</span>
        <input>
        <%= f.text_field :end_date, class: 'date end' %>
        <%= f.text_field :end_time, class: 'time end' %>
        </input>

        <label>
          <span>Patient Name</span>
          <%= f.text_field :patient_name %>
        </label>

        <label>
          <span>Doctor Name</span>
          <%= f.text_field :doctor_name %>
        </label>


        <%= f.submit "Create Appointment" %>




<div class ="row">
  <% if @appointment.errors.any? %>
      <h2>Errors</h2>
      <ul>
  <% @appointment.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
      </ul>
  <% end %>
</div>
    <script type="text/javascript" src="http://localhost:3000/app/views/appointments/widget/createwdiget"></script>

<% end %>