<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @consult.patient %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @consult.doctor %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @consult.appointment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @consult.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @consult.time %>
</p>

<p>
  <strong>Note:</strong>
  <%= @consult.note %>
</p>

<%= link_to 'Edit', edit_consult_path(@consult) %> |
<%= link_to 'Back', consults_path %>
